@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.font2{
    font-family: 'Sedgwick Ave Display', cursive;
}


.font1{
    font-family: 'Rubik Pixels', system-ui;
}


.font3{
    font-family: 'Dancing Script', cursive;
}


.font4{
    font-family: 'Fjalla One', sans-serif;
}

.font5{
    font-family: 'Indie Flower', cursive;
}



div {
    width: 200px;
    height: 200px;
    background-color: darksalmon;

    display: inline-block;
}





.flex{
    width: 100%;
    height: 500px;
    background-color: white;

    display: flex;
    justify-content: space-between;

}

.first{
display: flex;
justify-content: center;
align-items: center;
}
.second{
    display: flex;
    justify-content: center;
    align-items: center;
}
.third{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fourth{
    display: flex;
    justify-content: center;
    align-items: center;
}
.fifth{
    display: flex;
    justify-content: center;
    align-items: center;
 }


